body {
    font-family: Arial, sans-serif;
    margin: 50px;
    justify-content: center;
}

.container-capsule {
    display: flex;
}

.container-table {
    display:  block;
    /* margin-left: 50px; */
    position: relative;
    width: 60%;
}

.container-info {
    margin-bottom: 20px;
}

#map-table {
    text-align: center;
}

#map-table td:nth-child(1){
    text-align: left;
}

.left-shape, .right-shape {
    width: 15px;
    height: 15px;
    background-color: #32627B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-shape {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-style: solid;
    /* border-color: lightgray; */
}

.right-shape {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-style: solid;
}

.gap {
    width: 0px; /* Adjust this value for the gap width */
    height: 2px;
}

.audio-inline {
    display: none;
}

.audio-inline-container {
    display: flex;
    align-items: center;
}

#play-target, #play-counterfactual {
    padding-left: 5px;
    padding-right: 5px;
    font-size: x-large;
}

td {
    padding: 0 0px;
}

table {
    table-layout: fixed;
    border-spacing: 0px 15px;
    white-space: nowrap;
}

.triangle-left {
    width: 15px;
    height: 15px;
    background-color: #E1C44D; 
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
    border: 2px solid black;
}

.triangle-right {
    width: 15px;
    height: 15px;
    background-color: #D3722A; /* Orange color */
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
    border: 2px solid black;
}

.legend {
    margin-top: 40px;
    float: right;
    right: 0;
}